body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.converter {
    margin-top: 20px;
}

input {
    margin-top: 10px;
    padding: 8px;
    width: 200px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f3774d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #793c26;
}

p {
    margin-top: 20px;
    font-size: 1.2em;
}
